body {
    background-color: rgb(185, 240, 222);
    text-align: center;
}

.delete {
    background-color: rgb(215, 220, 61);
}

.task {
    background-color: darkgoldenrod;
}

h1 {
    text-align: center;
    text-decoration: underline wavy;
    margin-top: 20px 30px;
}

li {
    align-items: start;
    font-family: sans-serif;
    font-size: larger;
}

input {
    font-size: larger;
}
